[Desktop Entry]
Version=1.0
Type=Application
Name=BlackScreen
Comment=Ecran Noir
Exec=blackscreen
Icon=blackboard-156494
Path=
Terminal=false
StartupNotify=false
