
[Desktop Entry]
Type=Application
Name=Editor
Comment=Edit text files
Icon=accessories-text-editor
Exec=mousepad
Path=
Terminal=false
StartupNotify=true

