[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/candidat/Bureau]
row=5
col=0

[/home/candidat/Document]
row=4
col=0

[76bbed18-07eb-4923-bbb8-42452103cbcd]
row=0
col=0

[681C-E2FB]
row=0
col=1

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/candidat]
row=3
col=0

